@{
    ViewData["title"] = "Employee Details | Also Design";
    var phones = ViewData["employee.contactPhones"] as List<string> ?? new List<string>();
    var employeeContactPhonesString = phones != null ? string.Join(", ", phones!) : "";
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Employee Details</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item color-495057">Employee</li>
                            <li class="breadcrumb-item color-495057">Employee Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title">Employee Information</h5>
                                <h5 class="card-title text-left"><span class="badge bg-dark">@ViewData["employee.code"]</span></h5>
                            </div>
                            <div class="col-6 text-right">
                                @if(!(bool)ViewData["employee.hasUser"]!)
                                {
                                    <span class="text-danger">User not generated</span>
                                }
                                else
                                {
                                    <img src="../assets/images/shield-account-custom.png" height="30" class="pr-22px"/>
                                    <h5 class="card-title">User verified</h5>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <label class="form-label fw-bold">Email</label>
                                <p>@ViewData["user.email"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">Firstname</label>
                                <p>@ViewData["user.firstname"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">Last Name</label>
                                <p>@ViewData["user.lastname"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">Status</label>
                                <span class="badge rounded-pill badge-soft-@ViewData["statusColor"] d-table">@ViewData["statusName"]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">User Contact Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <label class="form-label fw-bold">Gender</label>
                                <p>@ViewData["employee.gender"]</p>
                            </div>
                            <div class="col-5">
                                <label class="form-label fw-bold">Address</label>
                                <p>@ViewData["employee.address"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">City</label>
                                <p>@ViewData["employee.city"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">State</label>
                                <p>@ViewData["employee.state"]</p>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-2">
                                <label class="form-label fw-bold">Zip Code</label>
                                <p>@ViewData["employee.zipcode"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">Job Position</label>
                                <p>@ViewData["employee.jobPosition"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">Profession</label>
                                <p>@ViewData["employee.profession"]</p>
                            </div>
                            <div class="col-4">
                                <label class="form-label fw-bold">Contact phone</label>
                                <p>@employeeContactPhonesString</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>