@{
    ViewData["title"] = "Employee Details | Also Design";
    var phones = ViewData["employee.contactPhones"] as List<string> ?? new List<string>();
    var employeeContactPhonesString = phones != null ? string.Join(", ", phones!) : "";
}
@section styles
{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <style>
        #traceContainer {
            display: flex;
            gap: 20px;
        }
        .json-container {
            width: 50%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            overflow: auto;
            max-height: 400px;
            font-family: monospace;
            font-size: 14px;
        }
        .diff-highlight {
            color: red;
            font-weight: bold;
        }
    </style>
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Employee Details</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item color-495057">Employee</li>
                            <li class="breadcrumb-item color-495057">Employee Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title">Employee Information</h5>
                                <h5 class="card-title text-left"><span class="badge bg-dark">@ViewData["employee.code"]</span></h5>
                            </div>
                            <div class="col-6 text-right">
                                @if(!(bool)ViewData["employee.hasUser"]!)
                                {
                                    <span class="text-danger">User not generated</span>
                                }
                                else
                                {
                                    <img src="../assets/images/shield-account-custom.png" height="30" class="pr-22px"/>
                                    <h5 class="card-title">User verified</h5>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <input id="employeeId" hidden value="@ViewData["employee.id"]"/>
                                <label class="form-label fw-bold">Email</label>
                                <p>@ViewData["user.email"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">Firstname</label>
                                <p>@ViewData["user.firstname"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">Last Name</label>
                                <p>@ViewData["user.lastname"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">Status</label>
                                <span class="badge rounded-pill badge-soft-@ViewData["statusColor"] d-table">@ViewData["statusName"]</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">User Contact Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-1">
                                <label class="form-label fw-bold">Gender</label>
                                <p>@ViewData["employee.gender"]</p>
                            </div>
                            <div class="col-5">
                                <label class="form-label fw-bold">Address</label>
                                <p>@ViewData["employee.address"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">City</label>
                                <p>@ViewData["employee.city"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">State</label>
                                <p>@ViewData["employee.state"]</p>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-2">
                                <label class="form-label fw-bold">Zip Code</label>
                                <p>@ViewData["employee.zipcode"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">Job Position</label>
                                <p>@ViewData["employee.jobPosition"]</p>
                            </div>
                            <div class="col-3">
                                <label class="form-label fw-bold">Profession</label>
                                <p>@ViewData["employee.profession"]</p>
                            </div>
                            <div class="col-4">
                                <label class="form-label fw-bold">Contact phone</label>
                                <p>@employeeContactPhonesString</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Recent employee traces</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <table id="dvTableTraces" class="table table-bordered align-middle mdl-data-table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Trace Type Description</th>
                                            <th>Username</th>
                                            <th>Comments</th>
                                            <th>Creation Date</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="traceInformationModal" tabindex="-1" aria-labelledby="traceInformationModal" aria-modal="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="traceInformationModal">Trace Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="javascript:void(0);">
                    <div class="row g-3">
                        <div class="col-6">
                            <p>Before Changes:</p>
                        </div>
                        <div class="col-6">
                            <p>After Changes:</p>
                        </div>
                        <div id="traceContainer">
                            <div id="beforeChangeContainer" class="json-container"></div>
                            <div id="afterChangeContainer" class="json-container"></div>
                        </div>
                        <div class="col-12">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="../assets/js/pages/employeeDetail.js"></script>
}