@using Newtonsoft.Json;
@{
    ViewData["title"] = "Update Purchase Order | Also Design";
    var phones = ViewData["employee.contactPhones"] as List<string> ?? new List<string>();
    var supplierContactNames = ViewData["supplier.contactNames"] as List<string> ?? new List<string>();
    var supplierContactPhones = ViewData["supplier.contactPhones"] as List<string> ?? new List<string>();
    var employeeContactPhones = ViewData["employee.contactPhones"] as List<string> ?? new List<string>();
}
@section styles
{
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"  type="text/css">
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Update Purchase Order</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item color-495057">Purchase Order</li>
                            <li class="breadcrumb-item color-495057">Update Purchase Order</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Purchase Order Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="d-flex col-3">
                                <div class="navbar-brand-box horizontal-logo d-ruby pl-0 mt-24npx ml-22npx">
                                    <span class="logo-sm">
                                        <img width="120" src="../assets/images/alsologo.png"/>
                                    </span>
                                    <p class="font-size-15px ml-24npx">ALSO DESIGN</p>
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <h4>ALSO DESIGN</h4>
                                <h6>DISEÑO ELECTROMECÁNICO INDUSTRIAL</h6>
                                <h6>"RESPONSABILIDAD, CALIDAD E INNOVACIÓN TECNOLÓGICA"</h6>
                            </div>
                            <div class="col-3 text-center">
                                <input id="inPurchaseOrderId" value="@ViewData["purchaseOrder.id"]" hidden>
                                <input class="form-control text-center" value="@ViewData["purchaseOrder.code"]" disabled>
                            </div>
                        </div>
                        <div class="row pt-4 text-center border-bottom border-bottom-dashed">
                        </div>
                        <div class="row pt-4 text-center">
                            <div class="col-1">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">ID</p>
                                <input type="text" class="form-control text-center" id="inSupplierId" disabled value="@ViewData["supplier.id"]">
                            </div>
                            <div class="col-5">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">SUPPLIER</p>
                                <input type="text" class="form-control text-center" id="inSupplierBusinessName" placeholder="SEARCH SUPPLIER..." value="@ViewData["supplier.businessName"]">
                            </div>
                            <div class="col-4">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">MAIN CONTACT</p>
                                <select class="form-select" id="seSupplierContactNames">
                                    @foreach (var supplierContactName in supplierContactNames!)
                                    {
                                        <option value="@supplierContactName">@supplierContactName</option>
                                    }
                                </select>
                            </div>
                            <div class="col-2">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">CITY</p>
                                <input type="text" class="form-control text-center" id="inSupplierCity" disabled value="@ViewData["supplier.city"]">
                            </div>
                        </div>
                        <div class="row pt-27px text-center">
                            <div class="col-2">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">MAIN PHONE</p>
                                <select class="form-select" id="seSupplierContactPhones">
                                    @foreach (var supplierContactPhone in supplierContactPhones!)
                                    {
                                        <option value="@supplierContactPhone">@supplierContactPhone</option>
                                    }
                                </select>
                            </div>
                            <div class="col-4">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">ADDRESS</p>
                                <input type="text" class="form-control text-center" id="inSupplierAddress" disabled value="@ViewData["supplier.address"]">
                            </div>
                            <div class="col-2">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">RFC</p>
                                <input type="text" class="form-control text-center" id="inSupplierRfc" disabled value="@ViewData["supplier.rfc"]">
                            </div>
                            <div class="col-2">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">PAYMENT TYPE</p>
                                <select class="form-select" id="sePurchaseOrderPaymentType" option-selected="@ViewData["purchaseOrder.payment.id"]"></select>
                            </div>
                            <div class="col-2">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">CURRENCY</p>
                                <select class="form-select" id="purchaseOrderCurrencyType" option-selected="@ViewData["purchaseOrder.currency.id"]"></select>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-12">
                                <div class="card-body pt-4 pb-4">
                                    <div class="table-responsive">
                                        <table class="table table-borderless text-center table-nowrap align-middle mb-0">
                                            <thead>
                                                <tr class="table-active">
                                                    <th scope="col" style=""></th>
                                                    <th scope="col" style="width: 50px;">#</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Quantity</th>
                                                    <th scope="col">Unit</th>
                                                    <th scope="col" class="text-end">Unit value</th>
                                                    <th scope="col" class="text-end">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbItems">
                                                @if (ViewData["purchaseOrder.items"] != null)
                                                {
                                                    var purchaseOrderItems = ViewData["purchaseOrder.items"] as List<entities.models.purchaseOrderItemsModel>;
                                                    if (purchaseOrderItems != null)
                                                    {
                                                        var index = 1;
                                                        foreach (var item in purchaseOrderItems)
                                                        {
                                                            <tr>
                                                                <td class="width-0per"></td>
                                                                <td scope="row">@index</td>
                                                                <td class="text-start">
                                                                    <input class="item-id" hidden value="@item.id">
                                                                    <input class="image-path" hidden value="@item.imagePath">
                                                                    <textarea class="form-control fw-medium mb-1 bg-light border-0 purchaseorder-description" rows="3" placeholder="Description">@item.description</textarea>
                                                                    <textarea class="form-control fw-medium mb-1 bg-light border-0 purchaseorder-item" rows="2" placeholder="Search material..." inventoritemid="@item.inventoryItemId">@item.material</textarea>
                                                                    <textarea class="form-control fw-medium mb-1 bg-light border-0" rows="3" placeholder="Details">@item.details</textarea>
                                                                    <input class="form-control mb-1 fileInput" id="fileInput" type="file">
                                                                    @if (!string.IsNullOrEmpty(item.imageString))
                                                                    {
                                                                        <img src="@item.imageString" class="rounded avatar-xl mb-1 image-item" />
                                                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light delete-image"><i class="ri-delete-bin-5-line"></i></button>
                                                                    }
                                                                    <textarea class="form-control fw-medium bg-light border-0" rows="4" placeholder="Notes">@item.notes</textarea>
                                                                </td>
                                                                <td>
                                                                    <div class="input-step">
                                                                        <button type="button" class="minus_@index">–</button>
                                                                        <input type="number" class="product-quantity" value="@item.quantity" min="1" max="100" readonly>
                                                                        <button type="button" class="plus_@index">+</button>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <select class="form-select">
                                                                        <option value="">Select option</option>
                                                                        <option value="1">EACH (EA)</option>
                                                                        <option value="2">BOX (BOX)</option>
                                                                        <option value="3">PACKAGE (PKG)</option>
                                                                        <option value="4">SET (SET)</option>
                                                                        <option value="5">PALLET (PAL)</option>
                                                                        <option value="6">POUND (LB)</option>
                                                                        <option value="7">KILOGRAM (KG)</option>
                                                                        <option value="8">METER (M)</option>
                                                                        <option value="9">LITER (L)</option>
                                                                        <option value="10">FOOT (FT)</option>
                                                                    </select>
                                                                    <input class="unitSelected" value="@item.unit" hidden>
                                                                </td>
                                                                <td class="text-end">
                                                                    <input class="form-control text-end numerical-mask subtotal-value" value="@item.unitValue.ToString("F2")" />
                                                                </td>
                                                                <td class="text-end total-value">
                                                                    @item.totalValue.ToString("F2")
                                                                </td>
                                                            </tr>
                                                            index++;
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="border-top border-top-dashed mt-2">
                                        <div class="row">
                                            <div class="col-7">
                                                <textarea class="form-control fw-semibold bg-light border-0 mt-3" rows="4" placeholder="Notes">@ViewData["purchaseOrder.generalNotes"]</textarea>
                                            </div>
                                            <div class="col-5">
                                                <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto" style="width:250px">
                                                    <tbody>
                                                        <tr>
                                                            <td>Sub Total</td>
                                                            <td id="tdPurchaseOrderSubTotal" class="text-end">$@ViewData["purchaseOrder.subtotal"]</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Estimated Tax <input id="inPurchaseOrderTax" class="form-control form-control-tax text-center" value="@ViewData["purchaseOrder.taxRate"]"> %</td>
                                                            <td id="tdPurchaseOrderTaxAmount" class="text-end">$@ViewData["purchaseOrder.taxAmount"]</td>
                                                        </tr>
                                                        <tr class="border-top border-top-dashed fs-15">
                                                            <th scope="row">Total Amount</th>
                                                            <th id="thPurchaseOrderTotalAmount" class="text-end">$@ViewData["purchaseOrder.totalAmount"]</th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6">
                                            <input id="userContactId" value="@ViewData["user.id"]" hidden>
                                            <h6 class="text-muted text-uppercase fw-semibold mb-3">ATENTAMENTE</h6>
                                            <p class="text-muted mb-1">@ViewData["employee.profession"]. @ViewData["user.firstname"] @ViewData["user.lastname"]</p>
                                            <select class="form-select mb-1" id="seEmployeeContactPhone">
                                                @foreach (var employeeContactPhone in employeeContactPhones!)
                                                {
                                                    <option value="@employeeContactPhone">@employeeContactPhone</option>
                                                }
                                            </select>
                                            <p class="text-muted mb-1">@ViewData["employee.jobPosition"]</p>
                                        </div>
                                    </div>
                                    <div class="row pt-4 pb-27px text-center border-bottom border-bottom-dashed"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-12">
                                <button type="button" class="btn btn-success w-100per" onclick="update()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $('#seSupplierContactNames').val("@ViewData["supplier.mainContactName"]");
        $('#seSupplierContactPhones').val("@ViewData["supplier.mainContactPhone"]");
        $('#seEmployeeContactPhone').val("@ViewData["employee.mainContactPhone"]");
    </script>
    <script src="../assets/js/pages/purchaseOrderUpdate.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
}