@{
    ViewData["title"] = "Update Client | Also Design";
    var names = ViewData["contactNames"] as List<string> ?? new List<string>();
    var contactNamesString = names != null ? string.Join(",", names!) : "";
    var emails = ViewData["contactEmails"] as List<string> ?? new List<string>();
    var contactEmailsString = emails != null ? string.Join(",", emails!) : "";
    var phones = ViewData["contactPhones"] as List<string> ?? new List<string>();
    var contactPhonesString = phones != null ? string.Join(",", phones!) : "";
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Update Client</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item color-495057">Client</li>
                            <li class="breadcrumb-item color-495057">Update Client</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Client Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <input id="inClientId" value="@ViewData["id"]" hidden>
                                <label for="inBusinessName" class="form-label">Business Name</label>
                                <input type="text" class="form-control uppercase-input" id="inBusinessName" placeholder="Enter business name" value="@ViewData["businessName"]">
                            </div>
                            <div class="col-3">
                                <label for="inRfc" class="form-label">RFC</label>
                                <input type="text" class="form-control uppercase-input" id="inRfc" placeholder="Enter rfc" value="@ViewData["rfc"]">
                            </div>
                            <div class="col-3">
                                <label for="inAddress" class="form-label">Address</label>
                                <input type="text" class="form-control uppercase-input" id="inAddress" placeholder="Enter address" value="@ViewData["address"]">
                            </div>
                            <div class="col-3">
                                <label for="inZipCode" class="form-label">ZIP Code</label>
                                <input type="text" class="form-control uppercase-input" id="inZipCode" placeholder="Enter ZIP code" value="@ViewData["zipcode"]">
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-3">
                                <label for="inCity" class="form-label">City</label>
                                <input type="text" class="form-control uppercase-input" id="inCity" placeholder="Enter city" value="@ViewData["city"]">
                            </div>
                            <div class="col-3">
                                <label for="inState" class="form-label">State</label>
                                <input type="text" class="form-control uppercase-input" id="inState" placeholder="Enter state" value="@ViewData["state"]">
                            </div>
                            <div class="col-3">
                                <label for="inCountry" class="form-label">Country</label>
                                <input type="text" class="form-control uppercase-input" id="inCountry" placeholder="Enter country" value="@ViewData["country"]">
                            </div>
                            <div class="col-3">
                                <label class="form-label" for="seStatus">Status</label>
                                <select class="form-select" id="seStatus" option-selected="@ViewData["status"]"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Contact Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <label for="inContactNames" class="form-label">Contact Name</label>
                                <input class="form-control uppercase-input" id="inContactNames" data-choices data-choices-limit="10" data-choices-removeItem type="text" value="@contactNamesString"/>
                            </div>
                            <div class="col-4">
                                <label for="inContactEmails" class="form-label">Contact E-mail</label>
                                <input class="form-control uppercase-input" id="inContactEmails" data-choices data-choices-limit="10" data-choices-removeItem type="text" value="@contactEmailsString"/>
                            </div>
                            <div class="col-4">
                                <label for="inContactPhones" class="form-label">Contact Phone</label>
                                <input class="form-control uppercase-input" id="inContactPhones" data-choices data-choices-limit="10" data-choices-removeItem type="text" value="@contactPhonesString"/>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-12">
                                <button type="button" class="btn btn-success w-100per" onclick="update()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="../assets/js/pages/clientUpdate.js"></script>
}