@using Newtonsoft.Json;
@{
    ViewData["title"] = "Add Quotation | Also Design";
    var employeeContactPhones = ViewData["employee.contactPhones"] as List<string> ?? new List<string>();;
}
@section styles
{
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"  type="text/css">
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Add Quotation</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item color-495057">Quotation</li>
                            <li class="breadcrumb-item color-495057">Add Quotation</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Quotation Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="d-flex col-3">
                                <div class="navbar-brand-box horizontal-logo d-ruby pl-0 mt-24npx ml-22npx">
                                    <span class="logo-sm">
                                        <img width="120" src="../assets/images/alsologo.png"/>
                                    </span>
                                    <p class="font-size-15px ml-24npx">ALSO DESIGN</p>
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <h4>ALSO DESIGN</h4>
                                <h6>DISEÑO ELECTROMECÁNICO INDUSTRIAL</h6>
                                <h6>"RESPONSABILIDAD, CALIDAD E INNOVACIÓN TECNOLÓGICA"</h6>
                            </div>
                            <div class="col-3 text-center"></div>
                        </div>
                        <div class="row pt-4 text-center border-bottom border-bottom-dashed">
                            <div class="col-12">
                                Atendiendo su amable solicitud, estamos enviando cotización de los productos requeridos. Para nosotros es un placer poner nuestra compañía a su servicio.
                                <br><br><br>
                            </div>
                        </div>
                        <div class="row pt-4 text-center">
                            <div class="col-1">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">ID</p>
                                <input type="text" class="form-control text-center" id="inClientId" disabled>
                            </div>
                            <div class="col-5">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">CLIENT</p>
                                <input type="text" class="form-control text-center" id="inClientBusinessName" placeholder="SEARCH CLIENT...">
                            </div>
                            <div class="col-4">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">MAIN CONTACT</p>
                                <select class="form-select" id="seClientContactNames"></select>
                            </div>
                            <div class="col-2">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">CITY</p>
                                <input type="text" class="form-control text-center" id="inClientCity" disabled>
                            </div>
                        </div>
                        <div class="row pt-27px text-center">
                            <div class="col-2">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">MAIN PHONE</p>
                                <select class="form-select" id="seClientContactPhones"></select>
                            </div>
                            <div class="col-4">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">ADDRESS</p>
                                <input type="text" class="form-control text-center" id="inClientAddress" disabled>
                            </div>
                            <div class="col-2">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">RFC</p>
                                <input type="text" class="form-control text-center" id="inClientRfc" disabled>
                            </div>
                            <div class="col-2">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">PAYMENT TYPE</p>
                                <select class="form-select" id="seQuotationPaymentType"></select>
                            </div>
                            <div class="col-2">
                                <p class="text-muted mb-2 text-uppercase fw-semibold">CURRENCY</p>
                                <select class="form-select" id="quotationCurrencyType"></select>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-12">
                                <div class="card-body pt-4">
                                    <div class="table-responsive">
                                        <table class="table table-borderless text-center table-nowrap align-middle mb-0">
                                            <thead>
                                                <tr class="table-active">
                                                    <th scope="col" style=""></th>
                                                    <th scope="col" style="width: 50px;">#</th>
                                                    <th scope="col">Description</th>
                                                    <th scope="col">Quantity</th>
                                                    <th scope="col">Unit</th>
                                                    <th scope="col" class="text-end">Unit value</th>
                                                    <th scope="col" class="text-end">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbItems">
                                                <tr>
                                                    <td class="width-0per">
                                                        <button id="addItem" type="button" class="btn btn-success btn-sm btn-icon waves-effect waves-light"><i class="ri-add-circle-fill"></i></button>
                                                    </td>
                                                    <td scope="row">1</td>
                                                    <td class="text-start">
                                                        <textarea class="form-control fw-medium mb-1 bg-light border-0" rows="3" placeholder="Description"></textarea>
                                                        <textarea class="form-control fw-medium mb-1 bg-light border-0" rows="2" placeholder="Material"></textarea>
                                                        <textarea class="form-control fw-medium mb-1 bg-light border-0" rows="3" placeholder="Details"></textarea>
                                                        <input class="form-control mb-1" type="file">
                                                        <textarea class="form-control fw-medium bg-light border-0" rows="4" placeholder="Notes">@ViewData["enterprise.defaultValues.items.notes"]</textarea>
                                                    </td>
                                                    <td>
                                                        <div class="input-step">
                                                            <button type="button" class="minus_1">–</button>
                                                            <input type="number" class="product-quantity" value="1" min="1" max="100">
                                                            <button type="button" class="plus_1">+</button>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <select class="form-select">
                                                            <option value="">Select option</option>
                                                            <option value="1">EACH (EA)</option>
                                                            <option value="2">BOX (BOX)</option>
                                                            <option value="3">PACKAGE (PKG)</option>
                                                            <option value="4">SET (SET)</option>
                                                            <option value="5">PALLET (PAL)</option>
                                                            <option value="6">POUND (LB)</option>
                                                            <option value="7">KILOGRAM (KG)</option>
                                                            <option value="8">METER (M)</option>
                                                            <option value="9">LITER (L)</option>
                                                            <option value="10">FOOT (FT)</option>
                                                        </select>
                                                    </td>
                                                    <td class="text-end">
                                                        <input class="form-control text-end numerical-mask subtotal-value" value="0.00" />
                                                    </td>
                                                    <td class="text-end total-value">
                                                        0.00
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="border-top border-top-dashed mt-2">
                                        <div class="row">
                                            <div class="col-7">
                                                <textarea class="form-control fw-semibold bg-light border-0 mt-3" rows="4" placeholder="Notes">@ViewData["enterprise.defaultValues.generalNotes"]</textarea>
                                            </div>
                                            <div class="col-5">
                                                <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto" style="width:250px">
                                                    <tbody>
                                                        <tr>
                                                            <td>Sub Total</td>
                                                            <td id="tdQuotationSubTotal" class="text-end">$0.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Estimated Tax <input id="inQuotationTax" class="form-control form-control-tax text-center" value="1"> %</td>
                                                            <td id="tdQuotationTaxAmount" class="text-end">$0.00</td>
                                                        </tr>
                                                        <tr class="border-top border-top-dashed fs-15">
                                                            <th scope="row">Total Amount</th>
                                                            <th id="thQuotationTotalAmount" class="text-end">$0.00</th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6">
                                            <input id="userContactId" value="@ViewData["user.id"]" hidden>
                                            <h6 class="text-muted text-uppercase fw-semibold mb-3">ATENTAMENTE</h6>
                                            <p class="text-muted mb-1">@ViewData["employee.profession"]. @ViewData["user.firstname"] @ViewData["user.lastname"]</p>
                                            <select class="form-select mb-1" id="seEmployeeContactPhone">
                                                @foreach (var employeeContactPhone in employeeContactPhones!)
                                                {
                                                    <option value="@employeeContactPhone">@employeeContactPhone</option>
                                                }
                                            </select>
                                            <p class="text-muted mb-1">@ViewData["employee.jobPosition"]</p>
                                        </div>
                                    </div>
                                    <div class="row pt-4 pb-27px text-center border-bottom border-bottom-dashed">
                                        <div class="col-12">
                                            <h6 class="text-muted text-uppercase fw-semibold mb-3">@ViewData["enterprise.location"]</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button type="button" class="btn btn-warning w-100per" onclick="window.location.reload(true)">Refresh</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-success w-100per" onclick="add()">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="../assets/js/pages/quotationAdd.js"></script>
}