@using Newtonsoft.Json;
@{
    ViewData["title"] = "Quotation Details | Also Design";
    var phones = ViewData["employee.contactPhones"] as List<string> ?? new List<string>();
    var clientContactNames = ViewData["client.contactNames"] as List<string> ?? new List<string>();
    var clientContactPhones = ViewData["client.contactPhones"] as List<string> ?? new List<string>();
    var employeeContactPhones = ViewData["employee.contactPhones"] as List<string> ?? new List<string>();
}
@section styles
{
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"  type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
    <style>
        #traceContainer {
            display: flex;
            gap: 20px;
        }
        .json-container {
            width: 50%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            overflow: auto;
            max-height: 400px;
            font-family: monospace;
            font-size: 14px;
        }
        .diff-highlight {
            color: red;
            font-weight: bold;
        }
    </style>
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Quotation Details</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item color-495057">Quotation</li>
                            <li class="breadcrumb-item color-495057">Quotation Details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex">
                            <h5 class="card-title">Quotation Information</h5>
                            <a href="#" id="download-pdf" class="btn btn-light ms-auto" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Print" data-bs-original-title="Print" style="margin-right: 10px;"><i class="ri-printer-fill align-bottom"></i></a>
                            <div class="form-check mb-2" style="padding-top: 10px;">
                                <input class="form-check-input" type="checkbox" id="hideTaxTotal">
                                <label class="form-check-label" for="hideTaxTotal">
                                    Hide Tax and Total
                                </label>
                            </div>
                        </div>
                    </div>
                    <div id="toPrint" class="card-body">
                        <div class="row">
                            <div class="d-flex col-3">
                                <div class="navbar-brand-box horizontal-logo d-ruby pl-0 mt-24npx ml-22npx">
                                    <span class="logo-sm">
                                        <img width="120" src="../assets/images/alsologo.png"/>
                                    </span>
                                    <p class="font-size-15px ml-24npx">ALSO DESIGN</p>
                                </div>
                            </div>
                            <div class="col-6 text-center">
                                <h4>ALSO DESIGN</h4>
                                <h6>DISEÑO ELECTROMECÁNICO INDUSTRIAL</h6>
                                <h6>"RESPONSABILIDAD, CALIDAD E INNOVACIÓN TECNOLÓGICA"</h6>
                            </div>
                            <div class="col-3 text-center">
                                <input id="quotationOrderCode" class="form-control text-center bg-light border-0 fw-bold" value="@ViewData["quotation.code"]" disabled>
                            </div>
                        </div>
                        <div class="row pt-4 text-center border-bottom border-bottom-dashed">
                            <div class="col-12">
                                Atendiendo su amable solicitud, estamos enviando cotización de los productos requeridos. Para nosotros es un placer poner nuestra compañía a su servicio.
                                <br><br><br>
                            </div>
                        </div>
                        <div class="row pt-4 text-center">
                            <div class="col-1">
                                <input id="quotationId" value="@ViewData["quotation.id"]" hidden/>
                                <label class="form-label fw-bold">ID</label>
                                <p class="text-center">@ViewData["client.id"]</p>
                            </div>
                            <div class="col-5">
                                <label class="form-label fw-bold">CLIENT</label>
                                <p class="text-center">@ViewData["client.businessName"]</p>
                            </div>
                            <div class="col-4">
                                <label class="form-label fw-bold">MAIN CONTACT</label>
                                <p class="text-center">@ViewData["client.mainContactName"]</p>
                            </div>
                            <div class="col-2">
                                <label class="form-label fw-bold">CITY</label>
                                <p class="text-center">@ViewData["client.city"]</p>
                            </div>
                        </div>
                        <div class="row pt-27px text-center">
                            <div class="col-2">
                                <label class="form-label fw-bold">MAIN PHONE</label>
                                <p class="text-center">@ViewData["client.mainContactPhone"]</p>
                            </div>
                            <div class="col-4">
                                <label class="form-label fw-bold">ADDRESS</label>
                                <p class="text-center">@ViewData["client.address"]</p>
                            </div>
                            <div class="col-2">
                                <label class="form-label fw-bold">RFC</label>
                                <p>@ViewData["client.rfc"]</p>
                            </div>
                            <div class="col-2">
                                <label class="form-label fw-bold">PAYMENT TYPE</label>
                                <p>@ViewData["quotation.payment.description"]</p>
                            </div>
                            <div class="col-2">
                                <label class="form-label fw-bold">CURRENCY</label>
                                <p>@ViewData["quotation.currency.description"]</p>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-12">
                                <div class="card-body pt-4 pb-4">
                                    <table class="table table-borderless text-center align-middle mb-0">
                                        <thead>
                                            <tr class="table-active">
                                                <th scope="col" style=""></th>
                                                <th scope="col" style="width: 50px;">#</th>
                                                <th scope="col" class="w-50per">Description</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Unit</th>
                                                <th scope="col" class="text-end">Unit value</th>
                                                <th scope="col" class="text-end">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbItems">
                                            @if (ViewData["quotation.items"] != null)
                                            {
                                                var quotationItems = ViewData["quotation.items"] as List<entities.models.quotationItemsModel>;
                                                if (quotationItems != null)
                                                {
                                                    var index = 1;
                                                    foreach (var item in quotationItems)
                                                    {
                                                        <tr>
                                                            <td class="width-0per"></td>
                                                            <td scope="row">@index</td>
                                                            <td class="text-start">
                                                                <p class="form-control fw-medium mb-1 bg-light border-0">@item.description</p>
                                                                <p class="form-control fw-medium mb-1 bg-light border-0">@item.material</p>
                                                                <p class="form-control fw-medium mb-1 bg-light border-0">@item.details</p>
                                                                @if (!string.IsNullOrEmpty(item.imageString))
                                                                {
                                                                    <img src="@item.imageString" height="300" class="rounded mb-1" />
                                                                }
                                                                <p class="form-control fw-medium bg-light border-0" placeholder="Notes">@item.notes</p>
                                                            </td>
                                                            <td>
                                                                @item.quantity
                                                            </td>
                                                            <td>
                                                                @item.unitDescription
                                                            </td>
                                                            <td class="text-end">
                                                                $@item.unitValue.ToString("F2")
                                                            </td>
                                                            <td class="text-end">
                                                                $@item.totalValue.ToString("F2")
                                                            </td>
                                                        </tr>
                                                        index++;
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <div class="border-top border-top-dashed mt-2">
                                        <div class="row">
                                            <div class="col-7">
                                                <p class="form-control fw-semibold bg-light border-0 mt-3" placeholder="Notes">@ViewData["quotation.generalNotes"]</p>
                                            </div>
                                            <div class="col-5">
                                                <table class="table table-borderless table-nowrap align-middle mb-0 ms-auto" style="width:250px">
                                                    <tbody>
                                                        <tr>
                                                            <td>Sub Total</td>
                                                            <td class="text-end">$@ViewData["quotation.subtotal"]</td>
                                                        </tr>
                                                        <tr id="trEstimatedTax">
                                                            <td>Estimated Tax @ViewData["quotation.taxRate"]%</td>
                                                            <td class="text-end">$@ViewData["quotation.taxAmount"]</td>
                                                        </tr>
                                                        <tr id="trTotalAmount" class="border-top border-top-dashed fs-15">
                                                            <th scope="row">Total Amount</th>
                                                            <th class="text-end">$@ViewData["quotation.totalAmount"]</th>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-6">
                                            <p class="fw-bold mb-3">ATENTAMENTE</p>
                                            <p class="mb-1">@ViewData["employee.profession"]. @ViewData["user.firstname"] @ViewData["user.lastname"]</p>
                                            <p class="mb-1">@ViewData["employee.mainContactPhone"]</p>
                                            <p class="mb-1">@ViewData["employee.jobPosition"]</p>
                                        </div>
                                    </div>
                                    <div class="row pt-4 pb-27px text-center border-bottom border-bottom-dashed">
                                        <div class="col-12">
                                            <p class="fw-bold mb-3">@ViewData["enterprise.location"]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="card-title">Recent quotation traces</h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <table id="dvTableTraces" class="table table-bordered align-middle mdl-data-table" style="width:100%">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Trace Type Description</th>
                                                            <th>Username</th>
                                                            <th>Comments</th>
                                                            <th>Creation Date</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="traceInformationModal" tabindex="-1" aria-labelledby="traceInformationModal" aria-modal="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="traceInformationModal">Trace Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="javascript:void(0);">
                    <div class="row g-3">
                        <div class="col-6">
                            <p>Before Changes:</p>
                        </div>
                        <div class="col-6">
                            <p>After Changes:</p>
                        </div>
                        <div id="traceContainer">
                            <div id="beforeChangeContainer" class="json-container"></div>
                            <div id="afterChangeContainer" class="json-container"></div>
                        </div>
                        <div class="col-12">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="../assets/js/pages/html2canvas.min.js"></script>
    <script>
        var quotationOrderCode = $('#quotationOrderCode').val();
        document.getElementById('download-pdf').addEventListener('click', function() {
            const { jsPDF } = window.jspdf;
            const doc = new jsPDF();
            html2canvas(document.getElementById('toPrint'), { scale: 2 }).then(function(canvas) {
                const imgData = canvas.toDataURL('image/png');
                const imgWidth = 210;
                const imgHeight = (canvas.height * imgWidth) / canvas.width;
                doc.addImage(imgData, 'PNG', 0, 0, imgWidth, imgHeight);
                doc.save('Quotation_' + quotationOrderCode + '.pdf');
            }).catch(function(error) {
                console.error('Error al generar la imagen con html2canvas:', error);
            });
        });

        $('#hideTaxTotal').change(function() {
            if ($(this).prop('checked')) {
                $('#trEstimatedTax').hide();
                $('#trTotalAmount').hide();
            } else {
                $('#trEstimatedTax').show();
                $('#trTotalAmount').show();
            }
        });
    </script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
    <script src="../assets/js/pages/quotationDetail.js"></script>
}