@using Newtonsoft.Json
@{
    ViewData["title"] = "Update Work Order | Also Design";
}
@section styles
{
    <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet"  type="text/css">
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Update Work Order</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item color-495057">Work Order</li>
                            <li class="breadcrumb-item color-495057">Update Work Order</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">1) Select Quotation</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2">
                                <input id="inWorkOrderId" value="@ViewData["workOrder.id"]" hidden>
                                <input id="inUserId" value="@ViewData["user.id"]" hidden>
                                <input id="inQuotationId" value="@ViewData["quotation.id"]" hidden>
                                <label for="inQuotationCode" class="form-label">QUOTATION</label>
                                <input type="text" class="form-control uppercase-input" id="inQuotationCode" placeholder="SEARCH QUOTATION CODE..." value="@ViewData["quotation.code"]">
                            </div>
                            <div class="col-1">
                                <label for="pCode" class="form-label fw-bold">CODE</label>
                                <p class="form-control bg-light border-0" id="pCode">@ViewData["quotation.code"]</p>
                            </div>
                            <div class="col-3">
                                <label for="pClient" class="form-label fw-bold">CLIENT</label>
                                <p class="form-control bg-light border-0" id="pClient">@ViewData["client.name"]</p>
                            </div>
                            <div class="col-3">
                                <label for="pProjectName" class="form-label fw-bold">PROJECT</label>
                                <p class="form-control bg-light border-0" id="pProjectName">@ViewData["project.name"]</p>
                            </div>
                            <div class="col-3">
                                <label for="pCreationDate" class="form-label fw-bold">CREATION DATE</label>
                                <p class="form-control bg-light border-0" id="pCreationDate">@ViewData["workOrder.creationDateAsString"]</p>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-2">
                                <label for="pPaymentType" class="form-label fw-bold">PAYMENT TYPE</label>
                                <p class="form-control bg-light border-0" id="pPaymentType">@ViewData["payment.description"]</p>
                            </div>
                            <div class="col-1">
                                <label for="pCurrencyType" class="form-label fw-bold">CURRENCY</label>
                                <p class="form-control bg-light border-0" id="pCurrencyType">@ViewData["currency.description"]</p>
                            </div>
                            <div class="col-3">
                                <label for="pSubtotal" class="form-label fw-bold">SUB TOTAL</label>
                                <p class="form-control bg-light border-0" id="pSubtotal">@ViewData["quotation.subtotal"]</p>
                            </div>
                            <div class="col-3">
                                <label for="pTax" class="form-label fw-bold">TAX</label>
                                <p class="form-control bg-light border-0" id="pTax">@ViewData["quotation.tax"]</p>
                            </div>
                            <div class="col-3">
                                <label for="pTotal" class="form-label fw-bold">TOTAL</label>
                                <p class="form-control bg-light border-0" id="pTotal">@ViewData["quotation.total"]</p>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-12">
                                <table class="table table-borderless text-center align-middle mb-0">
                                    <thead>
                                        <tr class="table-active">
                                            <th scope="col" style=""></th>
                                            <th scope="col" style="width: 50px;">#</th>
                                            <th scope="col" class="w-50per">Description</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col" class="text-end">Unit value</th>
                                            <th scope="col" class="text-end">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbQuotationItems">
                                        @if (ViewData["quotation.items"] != null)
                                        {
                                            var quotationItems = ViewData["quotation.items"] as List<entities.models.quotationItemsModel>;
                                            if (quotationItems != null)
                                            {
                                                var index = 1;
                                                foreach (var item in quotationItems)
                                                {
                                                    <tr>
                                                        <td class="width-0per"></td>
                                                        <td>@index</td>
                                                        <td class="text-start">
                                                            <p class="form-control fw-medium mb-1 bg-light border-0">@item.description</p>
                                                            <p class="form-control fw-medium mb-1 bg-light border-0">@item.material</p>
                                                            <p class="form-control fw-medium mb-1 bg-light border-0">@item.details</p>
                                                            <p class="form-control fw-medium bg-light border-0">@item.notes</p>
                                                        </td>
                                                        <td>@item.quantity.ToString("F2")</td>
                                                        <td>@item.unitDescription</td>
                                                        <td class="text-end">@item.unitValue.ToString("F2")</td>
                                                        <td class="text-end">@item.totalValue.ToString("F2")</td>
                                                    </tr>
                                                    index++;
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <tr><td colspan="7">Nothing to show.</td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">2) Load Work Order Items</h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-borderless text-center table-nowrap align-middle mb-0">
                                <thead>
                                    <tr class="table-active">
                                        <th scope="col" style=""></th>
                                        <th scope="col" style="width: 50px;">#</th>
                                        <th scope="col">Tool Number</th>
                                        <th scope="col">Material</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col" class="text-center">Route</th>
                                        <th scope="col" class="text-center">Comments</th>
                                    </tr>
                                </thead>
                                <tbody id="tbWorkOrderItems">
                                    @if (ViewData["workOrder.items"] != null)
                                        {
                                            var workOrderItems = ViewData["workOrder.items"] as List<entities.models.workOrderItemModel>;
                                            if (workOrderItems != null)
                                            {
                                                var index = 1;
                                                foreach (var item in workOrderItems)
                                                {
                                                    <tr>
                                                        <td class="width-0per">
                                                            <input class="item-id" hidden value="@item.id">
                                                            <button id="addItem" type="button" class="btn btn-success btn-sm btn-icon waves-effect waves-light"><i class="ri-add-circle-fill"></i></button>
                                                        </td>
                                                        <td scope="row">
                                                            <span id="rowCount">@index</span>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control uppercase-input toolNumber" maxlength="200" placeholder="Enter tool number" value="@item.toolNumber">
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control uppercase-input workorder-item" maxlength="200" placeholder="Search material..." inventoryitemid="@item.inventoryItemId" inventoryitemquantity="@item.quantityInStock" value="@item.inventoryItemDescription">
                                                        </td>
                                                        <td>
                                                            <div class="input-step">
                                                                <button type="button" class="minus_1">–</button>
                                                                <input type="number" class="product-quantity" value="@item.quantity" min="1" max="100">
                                                                <button type="button" class="plus_1">+</button>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <button id="btAddRoute_1" type="button" class="btn btn-secondary waves-effect waves-light route-modal route" data-routes='@Html.Raw(JsonConvert.SerializeObject(item.routes!.Select(r => int.Parse(r))))'><i class="ri-list-ordered"></i></button>
                                                        </td>
                                                        <td>
                                                            <button id="btAddComment_1" type="button" class="btn btn-secondary waves-effect waves-light comment-modal comment" data-comment="@item.comments"><i class="ri-sticky-note-fill"></i></button>
                                                        </td>
                                                    </tr>
                                                    index++;
                                                }
                                            }
                                        }
                                        else
                                        {
                                            <tr><td colspan="7">Nothing to show.</td></tr>
                                        }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">3) Work Order Summary</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <label class="form-label">STATUS</label>
                                <select id="seStatus" option-selected="@ViewData["workOrder.status"]" class="form-select"></select>
                            </div>
                            <div class="col-3">
                                <label class="form-label">PRIORITY</label>
                                <select id="sePriority" option-selected="@ViewData["workOrder.priority"]" class="form-select"></select>
                            </div>
                            <div class="col-3">
                                <label class="form-label"># RFQ</label>
                                <input type="text" class="form-control" id="inRfq" placeholder="RFQ" value="@ViewData["workOrder.rfq"]">
                            </div>
                            <div class="col-3">
                                <label class="form-label">DELIVERY DATE</label>
                                <input type="date" class="form-control" id="inDeliveryDate" value="@ViewData["workOrder.deliveryDateAsString"]">
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-6">
                                <button type="button" class="btn btn-warning w-100per" onclick="window.location.reload(true)">Refresh</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-success w-100per" onclick="update()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdRoute" tabindex="-1" aria-labelledby="mdRouteLabel" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdRouteLabel">Add Route</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-12">
                        <div>
                            <label class="form-label">Select the route this item will follow.</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="1" id="routeBlueprints">
                                    <label class="form-check-label" for="routeBlueprints">
                                        Blueprints
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="2" id="routeMaterial">
                                    <label class="form-check-label" for="routeMaterial">
                                        Material
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="3" id="routeProgramming">
                                    <label class="form-check-label" for="routeProgramming">
                                        Programming
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="4" id="routeInternalMachining">
                                    <label class="form-check-label" for="routeInternalMachining">
                                        Internal Machining
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="5" id="routeExternalMachining">
                                    <label class="form-check-label" for="routeExternalMachining">
                                        External Machining
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="6" id="routeHeatTreatment">
                                    <label class="form-check-label" for="routeHeatTreatment">
                                        Heat Treatment
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="7" id="routeCleaning">
                                    <label class="form-check-label" for="routeCleaning">
                                        Cleaning
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="8" id="routeQualityControl">
                                    <label class="form-check-label" for="routeQualityControl">
                                        Quality Control
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="9" id="routeSurfaceFinishing">
                                    <label class="form-check-label" for="routeSurfaceFinishing">
                                        Surface Finishing
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="10" id="routeAssembly">
                                    <label class="form-check-label" for="routeAssembly">
                                        Assembly
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="11" id="routePackaging">
                                    <label class="form-check-label" for="routePackaging">
                                        Packaging
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="12" id="routeShipping">
                                    <label class="form-check-label" for="routeShipping">
                                        Shipping
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" onclick="addRoute()">Add Route</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdComment" tabindex="-1" aria-labelledby="mdCommentLabel" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mdCommentLabel">Add Comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-12">
                        <div>
                            <label class="form-label">Add a comment to this item.</label>
                            <textarea id="taComment" class="form-control fw-medium mb-1 bg-light border-0" rows="4" placeholder="Enter a comment"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="hstack gap-2 justify-content-end">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" onclick="addComment()">Add Comment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="../assets/js/pages/workOrderUpdate.js"></script>
}