@{
    ViewData["title"] = "Update User Settings | Also Design";
    var phones = ViewData["employee.contactPhones"] as List<string> ?? new List<string>();
    var employeeContactPhonesString = phones != null ? string.Join(",", phones!) : "";
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Update User</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item color-495057">Settings</li>
                            <li class="breadcrumb-item color-495057">Update User Settings</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">User Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <input type="text" class="form-control" id="inUserId" value="@ViewData["user.id"]" hidden>
                                <input type="text" class="form-control" id="inEmployeeId" value="@ViewData["employee.id"]" hidden>
                                <label for="inUserFirstname" class="form-label">Firstname</label>
                                <input type="text" class="form-control uppercase-input" id="inUserFirstname" placeholder="Enter firstname" value="@ViewData["user.firstname"]">
                            </div>
                            <div class="col-4">
                                <label for="inUserLastname" class="form-label">Last Name</label>
                                <input type="text" class="form-control uppercase-input" id="inUserLastname" placeholder="Enter lastname" value="@ViewData["user.lastname"]">
                            </div>
                            <div class="col-4">
                                <label for="inUserLastname" class="form-label">Username</label>
                                <input type="text" class="form-control uppercase-input" id="inUsername" value="@ViewData["user.username"]" disabled>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-4">
                                <label for="inUserEmail" class="form-label">Email</label>
                                <input type="text" class="form-control uppercase-input" id="inUserEmail" placeholder="Enter email" value="@ViewData["user.email"]">
                            </div>
                            <div class="col-4">
                                <label for="seUserStatus" class="form-label">Status</label>
                                <select class="form-select" id="seUserStatus" option-selected="@ViewData["user.status"]"></select>
                            </div>
                            <div class="col-4">
                                <label for="seEmployeeGender" class="form-label">Gender</label>
                                <select class="form-select" id="seEmployeeGender" option-selected="@ViewData["employee.gender"]"></select>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-12">
                                <div class="alert alert-warning" role="alert">
                                    If you want to <b>change your password</b>, you must enter your current password, the new one, and a confirmation. If you do not wish to change it, you can leave the fields blank.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label for="inCurrentPassword" class="form-label">Current password</label>
                                <input type="password" class="form-control" id="inCurrentPassword" placeholder="Enter your current password">
                            </div>
                            <div class="col-4">
                                <label for="inNewPassword" class="form-label">New password</label>
                                <input type="password" class="form-control" id="inNewPassword" placeholder="Enter your new password">
                            </div>
                            <div class="col-4">
                                <label for="inConfirmNewPassword" class="form-label">Confirm new password</label>
                                <input type="password" class="form-control" id="inConfirmNewPassword" placeholder="Confirm your new password">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">User Contact Information</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-5">
                                <label for="inEmployeeAddress" class="form-label">Address</label>
                                <input type="text" class="form-control uppercase-input" id="inEmployeeAddress" placeholder="Enter address" value="@ViewData["employee.address"]">
                            </div>
                            <div class="col-3">
                                <label for="inEmployeeCity" class="form-label">City</label>
                                <input type="text" class="form-control uppercase-input" id="inEmployeeCity" placeholder="Enter city" value="@ViewData["employee.city"]">
                            </div>
                            <div class="col-3">
                                <label for="inEmployeeState" class="form-label">State</label>
                                <input type="text" class="form-control uppercase-input" id="inEmployeeState" placeholder="Enter state" value="@ViewData["employee.state"]">
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-2">
                                <label for="inEmployeeZipcode" class="form-label">Zip Code</label>
                                <input type="text" class="form-control uppercase-input" id="inEmployeeZipcode" placeholder="Enter zip code" value="@ViewData["employee.zipcode"]">
                            </div>
                            <div class="col-3">
                                <label for="inEmployeeJobPosition" class="form-label">Job Position</label>
                                <input type="text" class="form-control uppercase-input" id="inEmployeeJobPosition" placeholder="Enter job position" value="@ViewData["employee.jobPosition"]">
                            </div>
                            <div class="col-3">
                                <label for="inEmployeeProfession" class="form-label">Profession</label>
                                <input type="text" class="form-control uppercase-input" id="inEmployeeProfession" placeholder="Enter profession (ING, LIC, etc.)" value="@ViewData["employee.profession"]">
                            </div>
                            <div class="col-4">
                                <label for="inEmployeeContactPhones" class="form-label">Contact phone</label>
                                <input class="form-control uppercase-input" id="inEmployeeContactPhones" data-choices data-choices-limit="10" data-choices-removeItem type="text" value="@employeeContactPhonesString"/>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-6">
                                <button type="button" class="btn btn-warning w-100per" onclick="window.location.reload(true)">Refresh</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-success w-100per" onclick="update()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="../assets/js/pages/userSettingUpdate.js"></script>
}