@{
    ViewData["title"] = "Update Inventory | Also Design";
    var itemImageString = ViewData["itemImageString"]?.ToString();
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Update Item</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item color-495057">Inventory</li>
                            <li class="breadcrumb-item color-495057">Update Item</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Item information</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <input id="inInventoryItemId" hidden value="@ViewData["id"]">
                                <label for="inItemCode" class="form-label">Item Code</label>
                                <input type="text" class="form-control uppercase-input" id="inItemCode" placeholder="Enter item code" value="@ViewData["itemCode"]">
                            </div>
                            <div class="col-5">
                                <label for="inItemName" class="form-label">Item Name</label>
                                <input type="text" class="form-control uppercase-input" id="inItemName" placeholder="Enter item name" value="@ViewData["itemName"]">
                            </div>
                            <div class="col-4">
                                <label for="seStatus" class="form-label">Status</label>
                                <select class="form-select" id="seStatus"></select>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-12">
                                <label for="taDescription" class="form-label">Description</label>
                                <textarea class="form-control fw-medium mb-1 bg-light border-0 height-65px" placeholder="Notes" id="taDescription">@ViewData["description"]</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Technical Specifications</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <label class="form-label" for="seMaterial">Material</label>
                                <select class="form-select" id="seMaterial"></select>
                            </div>
                            <div class="col-4">
                                <label for="seFinishType" class="form-label">Finish Type</label>
                                <select class="form-select" id="seFinishType"></select>
                            </div>
                            <div class="col-4">
                                <label for="seClassificationType" class="form-label">Classification Type</label>
                                <select class="form-select" id="seClassificationType"></select>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-3">
                                <label for="inDiameter" class="form-label">Diameter</label>
                                <input type="text" class="form-control uppercase-input numerical-mask" id="inDiameter" value="@ViewData["diameter"]">
                            </div>
                            <div class="col-3">
                                <label for="seUnitDiameter" class="form-label">Diameter Unit</label>
                                <select class="form-select" id="seUnitDiameter"></select>
                            </div>
                            <div class="col-3">
                                <label for="inLength" class="form-label">Length</label>
                                <input type="text" class="form-control uppercase-input numerical-mask" id="inLength" value="@ViewData["length"]">
                            </div>
                            <div class="col-3">
                                <label for="seUnitLength" class="form-label">Length Unit</label>
                                <select class="form-select" id="seUnitLength"></select>
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-3">
                                <label for="inWeight" class="form-label">Weight</label>
                                <input type="text" class="form-control numerical-mask" id="inWeight" value="@ViewData["weight"]">
                            </div>
                            <div class="col-3">
                                <label for="seUnitWeight" class="form-label">Weight Unit</label>
                                <select class="form-select" id="seUnitWeight"></select>
                            </div>
                            <div class="col-3">
                                <label for="inTolerance" class="form-label">Tolerance</label>
                                <input type="text" class="form-control uppercase-input numerical-mask" id="inTolerance" value="@ViewData["tolerance"]">
                            </div>
                            <div class="col-3">
                                <label for="seUnitTolerance" class="form-label">Tolerance Unit</label>
                                <select class="form-select" id="seUnitTolerance"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Inventory Management</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <label class="form-label" for="seWarehouseLocation">Warehouse Location</label>
                                <select class="form-select" id="seWarehouseLocation"></select>
                            </div>
                            <div class="col-6">
                                <label for="inReorderQty" class="form-label">Re-order Quantity</label>
                                <input type="text" class="form-control uppercase-input numerical-mask" id="inReorderQty" value="@ViewData["reorderQty"]">
                            </div>
                        </div>
                        <div class="row pt-27px">
                            <div class="col-6">
                                <button type="button" class="btn btn-warning w-100per" onclick="window.location.reload(true)">Refresh</button>
                            </div>
                            <div class="col-6">
                                <button type="button" class="btn btn-success w-100per" onclick="update()">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Associated Documents</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <label for="inItemImage" class="form-label">Item Image</label>
                                <input id="inItemImage" class="form-control mb-1" type="file">
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(itemImageString))
                        {
                            <div class="row">
                                <div class="col-12 text-center">
                                    <img id="itemImage" src="@itemImageString" class="rounded avatar-md mb-1" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button id="deleteItemImage" type="button" class="btn btn-danger btn-icon waves-effect waves-light w-100per">
                                        <i class="ri-delete-bin-5-line"></i>
                                    </button>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-12 pt-27px">
                                <label for="inBluePrints" class="form-label">Blueprints</label>
                                <input id="inBluePrints" class="form-control mb-1" type="file" value="@ViewData["client.id"]">
                            </div>
                        </div>
                        @if (ViewData["hasBluePrints"] != null && (bool)ViewData["hasBluePrints"])
                        {
                            <div class="row pt-10px">
                                <div class="col-6">
                                    <button id="downloadBluePrints" type="button" class="btn btn-info btn-icon waves-effect waves-light w-100per">
                                        <i class=" ri-file-download-fill"></i>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button id="deleteBluePrints" type="button" class="btn btn-danger btn-icon waves-effect waves-light w-100per">
                                        <i class="ri-delete-bin-5-line"></i>
                                    </button>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-12 pt-27px">
                                <label for="inTechnicalSpecifications" class="form-label">Technical Specifications</label>
                                <input id="inTechnicalSpecifications" class="form-control mb-1" type="file">
                            </div>
                        </div>
                        @if (ViewData["hasTechnicalSpecifications"] != null && (bool)ViewData["hasTechnicalSpecifications"])
                        {
                            <div class="row pt-10px">
                                <div class="col-6">
                                    <button id="downloadTechnicalSpecifications" type="button" class="btn btn-info btn-icon waves-effect waves-light w-100per">
                                        <i class=" ri-file-download-fill"></i>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button id="deleteTechnicalSpecifications" type="button" class="btn btn-danger btn-icon waves-effect waves-light w-100per">
                                        <i class="ri-delete-bin-5-line"></i>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Additional Remarks</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <label for="taNotes" class="form-label">Notes</label>
                                <textarea class="form-control fw-medium mb-1 bg-light border-0 height-261px" rows="1" placeholder="Notes" id="taNotes">@ViewData["notes"]</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script src="../assets/js/pages/inventoryUpdate.js"></script>
    <script type="text/javascript">
        function onCatalogsInitialized() {
            $('#seStatus').val("@ViewData["status"]");
            $('#seMaterial').val("@ViewData["material"]");
            $('#seFinishType').val("@ViewData["finishType"]");
            $('#seUnitDiameter').val("@ViewData["unitDiameter"]");
            $('#seUnitLength').val("@ViewData["unitLength"]");
            $('#seUnitWeight').val("@ViewData["unitWeight"]");
            $('#seUnitTolerance').val("@ViewData["unitTolerance"]");
            $('#seWarehouseLocation').val("@ViewData["warehouseLocation"]");
            $('#seClassificationType').val("@ViewData["classificationType"]");
            $('#description').attr('rows', 1);
        }
    </script>
}